*, p {
  -webkit-print-color-adjust: exact;
  font-family: "Source Sans Pro", sans-serif !important;
}

.w-100 {
  width: 100%
}

.h-100 {
  height: 100%
}

.border {
  border: 1px solid #3333;
}

.responsive-logo {
  width: 100%;
  max-width: 150px;
  height: auto;
}

.responsive-qrcode {
  width: 350px;
  height: auto;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.va-m {
  vertical-align: middle;
}

.d-ib {
  display: inline-block;
}

.text-bold {
  font-weight: bold;
}

.fs-8 {
  font-size: 8px;
}

.fs-10 {
  font-size: 10px;
}

.fs-28 {
  font-size: 28px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-30 {
  margin-bottom: 30px;
}

.p-30 {
  padding: 30px;
}